<!-- this file goes in src/main/resources/logback.xml -->

<configuration>

    <timestamp key="appStartTimestamp" datePattern="yyyy-MM-dd'_'HH-mm-ss.SSS"/>

    <evaluator name="ExceptionEvaluator" class="org.selfbus.updater.logging.ThrowableEvaluator" />
    <evaluator name="MessageEvaluator" class="org.selfbus.updater.logging.MessageEvaluator" />

    <!--
        In case the name of the appender (CONSOLE) is changed, it also must be changed in LoggingManager.java
        org.selfbus.updater.logging.LoggingManager.CONSOLE_APPENDER_NAME = "CONSOLE"
    -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>true</withJansi>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <!-- Custom logging for calimero-core exceptions -->
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator class="org.selfbus.updater.logging.ThrowableEvaluator">
                <level>WARN</level>
            </evaluator>
            <OnMismatch>DENY</OnMismatch>
            <OnMatch>NEUTRAL</OnMatch>
        </filter>
        <!-- Custom logging for calimero-core messages -->
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator class="org.selfbus.updater.logging.MessageEvaluator">
                <level>WARN</level>
            </evaluator>
            <OnMismatch>DENY</OnMismatch>
            <OnMatch>NEUTRAL</OnMatch>
        </filter>
        <encoder>
            <pattern>%message%n</pattern>
        </encoder>
    </appender>

    <appender name="list" class="org.selfbus.updater.gui.TextAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>

    <appender name="logFile" class="ch.qos.logback.core.FileAppender">
        <file>${application.home:-.}/log/updater-${appStartTimestamp}.log</file>
        <append>false</append>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %level [%logger] %method \(%line\) %message%n</pattern>
            <!--
               LogMx parser pattern:
               %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %level [%logger] %method (%line) %message%n
            -->
        </encoder>
    </appender>

    <appender name="htmlAppender" class="ch.qos.logback.core.FileAppender">
        <file>${application.home:-.}/log/updater-${appStartTimestamp}.html</file>
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="ch.qos.logback.classic.html.HTMLLayout">
                <pattern>%thread%level%logger%msg</pattern>
                <pattern>%d{HH:mm:ss.SSS}%thread%level%logger%method%line%message</pattern>
            </layout>
        </encoder>
    </appender>

<!--
        <appender name="htmlWarnAppender" class="ch.qos.logback.core.FileAppender">
            <file>${application.home:-.}/log/updater-${appStartTimestamp}-warn.html</file>
            <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
                <level>WARN</level>
            </filter>
            <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
                <layout class="ch.qos.logback.classic.html.HTMLLayout">
                    <pattern>%thread%level%logger%msg</pattern>
                    <pattern>%d{HH:mm:ss.SSS}%thread%level%logger%method%line%message</pattern>
                </layout>
            </encoder>
        </appender>
-->
        <!-- ERROR, WARN, INFO, DEBUG, TRACE -->
    <root level="TRACE">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="list" />
        <appender-ref ref="logFile" />
        <appender-ref ref="htmlAppender" />
        <!-- <appender-ref ref="htmlWarnAppender" />  -->
    </root>
</configuration>
