<!-- this file goes in src/main/resources/logback-test.xml -->

<configuration>

    <timestamp key="appStartTimestamp" datePattern="yyyy-MM-dd'_'HH-mm-ss.SSS"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
          <level>INFO</level>
        </filter>
        <encoder>
            <pattern>%message%n</pattern>
        </encoder>
    </appender>

     <!-- ERROR, WARN, INFO, DEBUG, TRACE -->
    <root level="DEBUG">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>
